<header class="header">
<h1 id="title"><i class="fa-sharp fa-solid fa-square-poll-vertical"></i>DECISION MAKER</h1>
<a id="new-poll" href="/polls/new"><i class="fa-regular fa-square-plus"></i></a>
</header>
