<header class="header">
<h1 id="title"><i class="fa-sharp fa-solid fa-square-poll-vertical"></i>DECISION MAKER</h1>
<div class="new-container"><a id="new-poll" href="/polls/new">Make A New Poll!<i class="fa-regular fa-square-plus"></i></a></div>

</header>
