<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/create_poll.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <title>Create Poll</title>
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class="form-container">
      <form action="/polls/new" method="post">
        <article>
          <div class="poll-title-input">
            <label for="title">Name you poll</label>
            <input type="text" required name="title">
          </div>
          <div class="poll-description-input">
            <label for="description">Do you want to provide more details?</label>
            <textarea name="description"></textarea>
          </div>
        </article>
        <footer>
          <input type="email" required name="email" placeholder="Email" class="user-email-input">
          <button id="submit-poll">Submit</button>
        </footer>
      </form>
    </div>
  </main>
</body>
</html>
