<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page - Decision Maker</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <main class="about">

    <header>
      <h4>Welcome to</h4>
      <h1>Decision Maker</h1>
    </header>


    <div class="info">

      <div class="howto">
        <h1>How it works</h1>
        <p>Having trouble making a group decision?</p>
          Use the Decision Maker app to poll your friends opinions.
          Create a poll with different options. Share a link to your poll with your group and have them rank each option according to their preferences.
      </div>

      <div class="borda">
        <h3>The Borda Count Method</h3>
        <p>We will calculate the results using the Borda Count Method so everyones opinions are incorporated in the final decision.</p>
        <p>Learn <a href="https://en.wikipedia.org/wiki/Borda_count">more</a> about the Borda Count Method.</p>
      </div>

    </div>

    <div class="create">
      <a href="/polls/new"><button type="button" class="button"><h1>Create a New Poll</h1></button></a>
    </div>

  </main>


</body>

</html>
