<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Poll</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/polls_new.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <form action="/polls/new" method="post">
      <div class="input-info">
        <label for="pollTitle">Title</label>
        <input type="text" class="input-poll-title" name="pollTitle">
        <label for="pollDescription">Description</label>
        <textarea class="input-poll-description" name="pollDescription"></textarea>
        <div class="option-inputs">
          <label for="option-title">Option Title</label>
          <input type="text" class="input-option-title" name="option-title">
          <label for="option-description">Option Description</label>
          <textarea type="text" class="input-option-description" name="input-option-description"></textarea>
        </div>
        <div class="add-option">
          <button>Add Option</button>
        </div>
      </div>

      </div>
      <div class="option-container">

        <div class="option-instance">
          <div class="option-number">
            <p>1</p>
          </div>
          <div class="option-info">
            <div class="option-title">
              <h2>Which movie</h2>
            </div>
            <div class="option-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="option-changes">
            <button class="edit-button">Edit</button>
            <button>Delete</button>
          </div>
        </div>

        <div class="option-instance">
          <div class="option-number">
            <p>1</p>
          </div>
          <div class="option-info">
            <div class="option-title">
              <h2>Which movie</h2>
            </div>
            <div class="option-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="option-changes">
            <button class="edit-button">Edit</button>
            <button>Delete</button>
          </div>
        </div>

        <div class="option-instance">
          <div class="option-number">
            <p>1</p>
          </div>
          <div class="option-info">
            <div class="option-title">
              <h2>Which movie </h2>
            </div>
            <div class="option-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
            </div>
          </div>
          <div class="option-changes">
            <button class="edit-button">Edit</button>
            <button>Delete</button>
          </div>
        </div>
      </div>

      <div class="complete-poll">
          <input type="text" placeholder="Enter your email" class="input-email" name="email">
          <button type="submit">Submit</button>
      </div>
      </form>
    </main>
</body>

</html>
