<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Poll</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/polls_new.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <div class="input-info">
        <label for="input-poll-title">Title</label>
        <input type="text" class="input-poll-title" name="input-poll-title">
        <label for="input-poll-description">Description</label>
        <textarea class="input-poll-description" name="input-poll-description"></textarea>
        <div class="option-inputs">
          <label for="option-title">Option Title</label>
          <input type="text" class="input-option-title" name="option-title">
          <label for="option-description">Option Description</label>
          <textarea type="text" class="input-option-description"></textarea>
        </div>
        <div class="add-option">
          <button>Add Option</button>
        </div>
      </div>

      <div class="option-container">

        <div class="option-number">
          <p>1</p>
        </div>
        <div class="option-info"></div>
        <div class="option-title"></div>
        <div class="option-description"></div>

        <div class="option-changes">
          <button type="submit">Edit</button>
          <button type="submit">Delete</button>
        </div>
      </div>

      <div class="complete-poll">
        <input type="text" placeholder="Enter your email">
        <button type="submit">Submit</button>
      </div>
    </main>
</body>

</html>
