<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em; display: flex; flex-direction: column; align-items: center;">
    <div style="border: 1px solid black; margin: 20px; width: 50%; text-align: center;">
      <h1>Poll Title</h1>
      <h4>Poll Description</h4>
    </div>
    <div style="border: 1px solid black; background-color: olivedrab; margin: 20px; width: 50%; text-align: center;">
      <h1>I'm the winning option!</h1>
      <h4>ASKjaskdghsdjkghnjkascmasjcnkasjn</h4>
    </div>
    <% for (let key in optionDatabase) { %>
      <div style="border: 1px solid black; margin: 20px; width: 50%; text-align: center;">
        <h1><%= optionDatabase[key].title %></h1>
        <h4><%= optionDatabase[key].description %></h4>
      </div>
        <% } %>
</body>

</html>
