$main-colour: rgb(161, 195, 235);
$secondary-colour: #E2EB98;
$third-colour:#ed6a5a;
$fourth-colour: #efddda;
$font: 'Roboto', sans-serif;
$options-border-radius: 0.6rem;
$border-color: #2d2c2c51;
$header-height: 175px;
