@import 'variables';

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  flex-direction: column;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1098039216);
    background-color: #fefefe;
    padding: 10px 40px;

    #title {
      font-size: 32px;
      font-family: $font;
      padding: 10px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 30px;
      margin-top: 0px;
      text-align: center;
    }
  }
}

.new-option {
  display: flex;
  margin-top: 50px;
  font-size: 20px;
  width: 80%;
  padding: 2rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1098039216);
  background-color: #fefefe;
  flex-direction: column;

  label {
    font-weight: 600;
    color: #404346fb;
  }
}

form > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option-title-input-container,
.option-description-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option-title-input-container label,
.option-description-input-container label {
  margin: 0.6rem 0;
}

.option-title-input-container input,
.option-description-input-container textarea {
  border: 1px solid $border-color;
  width: 80%;
}

.option-title-input-container input {
  width: 80%;
  padding: 0.4rem 0.5rem;
  border: 1px solid $border-color;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

textarea {
  width: 23vw;
  height: 70px;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  resize: none;
}

button {
  cursor: pointer;
  background-color: $third-colour;
  border: 0.1px solid $border-color;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  color: $fourth-colour;
  font-size: 22px;
    font-weight: bold;
}

button:hover {
  background-color: $fourth-colour;
  color: $third-colour;
  transition: 0.3s;
}


#add-option {
  margin-top: 2rem;
}

.option-container {
  width: 50vw;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: $fourth-colour;
    color: $third-colour;
    height: 15vh;
    width: 20%;
    font-size: 22px;
    font-weight: bold;
  }

  button:hover {
    background-color: $third-colour;
    color: $fourth-colour;
    transition: 0.3s;
  }
}

.option-instance {
  width: 100%;
  border-radius: $options-border-radius;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.3rem 0;
  // background-color: #033868;
  // color: white;
}

.option-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  background-color: #033868;
  color: white;
  border-radius: $options-border-radius;
  align-items: center;
  height: 15vh;

  h3 {
    font-size: 28px;
  }
}

.option-description-info {
  width: 100%;
  text-align: center;
}

.option-description-info p {
  margin-top: 0;
  word-wrap: break-word;
}

footer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

