@import 'variables';

main {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-title-input-container,
.option-description-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#add-option {
  margin-top: 2rem;
}

.option-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-instance {
  width: 45%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.option-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-description-info {
  width: 100%;
}

.option-description-info p {
  word-wrap: break-word;
}

footer {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
