@import 'variables';

main {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poll-title-input,
.poll-description-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.user-email-input {
  margin-right: 4%;
}
