@import 'variables';

header.header {
  width: 100%;
  background-color: $main-colour;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  height: $header-height;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  padding-left: 40px;
  font-size: 4em;
  font-family: 'Frank Ruhl Libre', serif;
  color:black;

}

.fa-sharp {
  margin-right: 20px;
  color:black;
}

#new-poll {
  margin-right: 60px;
  font-size: 2em;
  color: black;

  font-family: 'Frank Ruhl Libre', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.fa-square-plus {
  margin-top: 10px;
  font-size: 1.5em;
  color:black;
}

@media (max-width: 1500px) {

  header.header {
    height: 120px;
  }

  #title {
    font-size: 2rem;
  }

  #new-poll {
    font-size: 1.5rem;
  }

}
