@import 'variables';

.about {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  width: 100%;

  header {
  border-radius: $options-border-radius;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

    h4 {
      margin: 0;
      color: #5d6369fb;
    }

    h1 {
      font-weight: 600;
      margin: 10px;
      margin-top: 0;
      color: #033868;
      font-size: 48px;
   }

  }

  .info {
    display: flex;
    width: 180%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 40px 0px;


    .howto {
      width: 40%;
      text-align: center;
      padding: 10px;
      border-radius: $options-border-radius;
      // background-color: #fefefe;
      // box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1098039216);

      h1 {
        margin-top: 16px;
      }

    }

    .borda {
      // border: 1px #d73431 solid;
      // background-color: #fefefe;
      width: 30%;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
      border-radius: 0.6rem;
      box-shadow: 0px 0px 15px 2px #c04b4999;
    }

  }

  .create {

    .button {
      background-color:#d73431;
      color: white;
      border: .01px #6b605442 solid;
      box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1098039216);
      border-radius: $options-border-radius;
      cursor: pointer;
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

  }

}

@media (max-width: 1500px) {
  .about {
    padding-top: 175px;
  }
}

