@import 'variables';

.about {
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  align-items: center;
  width: 100%;

  header {
  border-radius: $options-border-radius;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

    h4 {
      margin: 0;
      color: #5d6369fb;
    }

    h1 {
     font-weight: 600;
      margin: 10px;
      margin-top: 0;
   }

  }

  .info {
    display: flex;
    width: 180%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;


    .howto {
      width: 40%;
      text-align: center;
      padding: 10px;
      border-radius: $options-border-radius;

      h4 {
        margin: 0;
        margin-bottom: 20px;
        color: #5d6369fb;
      }

    }

    .borda {
      border: 1px $third-colour solid;
      width: 40%;
      text-align: center;
      margin-top: 40px;
      border-radius: $options-border-radius;
    }

  }

  .create {

    .button {
      background-color:#ED6A5A;
      color: whitesmoke;
      border: .01px #6b605442 solid;
      border-radius: $options-border-radius;
      cursor: pointer;
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 80px;
      margin-bottom: 80px;
    }

  }

}

@media (max-width: 1500px) {
  .about {
    padding-top: 175px;
  }
}

