@import 'variables';

main {
  padding-top: 200px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#poll-title {
  border: 1px solid black;
  margin: 20px; width: 50%;
  text-align: center;
}

.option-container {
  display: flex;
  align-items: center;
  width: 100%;

  border: 1px solid black;
  margin: 20px;
  width: 50%;
  text-align: center;
  justify-content: space-around;
}

#winning-option {
  background-color: olivedrab;
}

.option {
  margin-right: auto;
  margin-left: -25px;
  text-align: center;
}

.number {
  float:left;
  margin-right: auto;
  margin-left:20px;
  font-size: 60px;
}

