@import 'variables';

body {
  margin: 0px;
}
main {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: $font
}

#poll-title {
  border: 1px solid black;
  margin: 20px; width: 50%;
  text-align: center;
  border-radius: $options-border-radius;
}

.option-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
  width: 50%;
  text-align: center;
  justify-content: space-around;
  box-shadow: 10px 10px 10px black;
  background-color: $secondary-colour;
  border-radius: $options-border-radius;
  border: 1px solid #2d2c2c51;
}

#winning-option {
  background-color: $fourth-colour;
  color:black;
}

.option {
  margin-right: auto;
  margin-left: -25px;
  text-align: center;
}

.number {
  float:left;
  margin-right: auto;
  margin-left:20px;
  font-size: 60px;
}

.hide-button {
  margin-bottom: 25px;
}

@media (max-width: 1500px) {
  main {
    padding-top: 150px;
  }
}
