main {
  margin: 1em; display: flex; flex-direction: column; align-items: center;
}

#poll-title {
  border: 1px solid black; margin: 20px; width: 50%; text-align: center;
}

#winning-option {
  background-color: olivedrab;
}

.option {
  border: 1px solid black;
  margin: 20px;
  width: 50%;
  text-align: center;
}
