$border: 1px solid rgb(45, 44, 44);
$border-radius: 0.6rem;

.poll-info {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  margin-bottom: 100px;

    header {
      margin-top: 50px;
      border: $border;
      border-radius: $border-radius;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

        .poll-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
    }

    .options-table {
      margin-bottom: 50px;
      margin-top: 50px;
      width: 50%;

      .ranking {
        border: 1px solid rgb(45, 44, 44);
        border-radius: $border-radius;
        padding: 30px;
        text-align: center;
      }

      .option {
        border: $border;
        border-radius: $border-radius;
        padding: 30px;
      }


    }


}

