@import 'variables';

$border: 1px solid #2d2c2c51;
$border-radius: 0.6rem;
$button-cursor: pointer;
$dark-pink: #ED6A5A;
$light-pink: #efddda;
$light-green: #E2EB98;
$header-blue: #a1c3eb;
$grey: #5d6369fb;


.poll-info {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
  margin-bottom: 100px;

    header {
      margin-top: 50px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

        .poll-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: none;
        }

        #title-box {
          background: $light-green;
          border-radius: 0.6rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          span {
            margin-top: 15px;
            margin-bottom: 15px;
          }

          h1{
            margin: 0;
          }
        }

        #instructions {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
          flex-wrap: wrap;
          color: #5d6369fb;
        }
    }

    .sortable-options {
      background: $light-green;
      padding: 10px;
      border: none;
      border-radius: 0.6rem;
      width: 50%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ranking {
        color: $grey;
        margin: 10px;
      }
    }

    .options-table {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;
    }

      .option {
        cursor: $button-cursor;
        border: $border;
        border-radius: $border-radius;
        padding: 15px;
        padding-left: 30px;
        background-color: whitesmoke;
      }


    }

  .submit-button {
      background-color: $light-pink;
      color: $dark-pink;
      border: .01px #6b605442 solid;
      border-radius: 3px;
      cursor: $button-cursor;

    }

    .submit-button:hover {
      background-color: $dark-pink;
      color: $light-pink;
    }

    .voter-name-form {
      width: 50%;
      display: flex;
    }

    #vote {
      width: 1000%;
      height: 3rem;
      padding: 2%;
      margin-right: 20px;
    }



  #submission-box {
    text-align: center;
    border-radius: $border-radius;
    border: $dark-pink 0.5px solid;
    padding: 1%;
    width: 50%;


  #button-box {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    margin-bottom: 20px;
    background-color: $dark-pink;
    color: $light-pink;
    border: .01px #6b605442 solid;
    border-radius: 3px;
    cursor: $button-cursor;
    padding: 8px;
  }

  button:hover {
    background-color: $light-pink;
    color: $dark-pink;
  }

}
