@import 'variables';

$border: 1px solid #2d2c2c51;
$border-radius: 0.6rem;
$button-cursor: pointer;
$grey: #5d6369fb;


.poll-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background-color: whitesmoke;


    header {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

        .poll-title {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: none;
        }

        #title-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-top: 60px;
          margin-bottom: 20px;
          border-radius: 0.6rem;
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1098039216);
          background-color: #fefefe;

          span {
            margin-top: 15px;
            margin-bottom: 15px;
          }

          h1{
            margin: 0;
            color: #033868;
            font-size: 40px;
          }
        }

        #instructions {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-bottom: 20px;
          margin-top: 20px;
          flex-wrap: wrap;
          font-size: 20px;
        }
    }

    .sortable-options {
      padding: 20px;
      border: none;
      width: 90%;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 15px 2px #0000001c;
      background-color: #fefefe;
      border-radius: 0.6rem;

      .ranking {
        color:#d73431;
        margin: 10px;
        font-weight: 600;
        font-size: 20px;
      }
    }

    .options-table {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 60%;
    }

      .option {
        cursor: $button-cursor;
        border: $border;
        border-radius: $border-radius;
        padding: 10px;
        text-align: center;
        margin: 20px, 0px;
        background-color: #033868;
        font-size: 18px;

        h3 {
          color: #fefefe;
          font-size: 32px;
          margin-bottom: 10px;
        }
        p {
          color: #fefefe;
        }
      }


    }

  .submit-button {
      background-color: $fourth-colour;
      color: $third-colour;
      border: .01px #6b605442 solid;
      border-radius: 3px;
      cursor: $button-cursor;

    }

    .submit-button:hover {
      background-color: $third-colour;
      color: $fourth-colour;
      transition: 0.3s;
    }

    .voter-name-form {
      width: 50%;
      display: flex;
    }

    #vote {
      width: 1000%;
      height: 3rem;
      padding: 2%;
      margin-right: 20px;
    }



  #submission-box {
    text-align: center;
    border-radius: $border-radius;
    padding: 1%;
    width: 50%;


  #button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

  button {
    margin-bottom: 20px;
    background-color: $third-colour;
    color: $fourth-colour;
    border: .01px #6b605442 solid;
    border-radius: 3px;
    cursor: $button-cursor;
    padding: 8px;
  }

  button:hover {
    background-color: $fourth-colour;
    color: $third-colour;
    transition: 0.3s;
  }

}
